html {
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
    color: #CBCBCB;
    background: rgb(25,25,25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-size: 5vw;
    text-align: center;
    margin: .5vw;
}

h2 {
    font-size: 2vw;
    text-align: center;
}

.landing {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vw;
    background-image: url("static/src/QRC/2023/IMG_6486.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    height: auto;
    flex-grow: 100%;
}

.the-images {
    width: 100%;
    height: auto;
    max-height: 25vw;
    min-width: 0;
}
