<!DOCTYPE html>

<html>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 

    <!-- intro -->

    <head>
        <section id="intro">
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
            <link rel="shortcut icon" type="image/ico" href="/logo.ico">

            <section id='navbar'>
                <h6>MAMMVI</h6>
            </section>

        </section>
    </head>

    <body>
        <h2>Images will go in this section</h2>
    </body>

</html>
