<!DOCTYPE html>

<html>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 


    <!-- landing page -->

    <head>
    <!-- landing should go into landing.html -->
        <section class="landing">
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
            <h1>I am MAMMVI</h1>
            <h2>welcome to my website</h2>
        </section>
    </head>

    <body>
        <!-- body should include all the images and should by in images.html -->
        <section class="">
            <h3>QRC</h3>
            <ul>
                <li>
                    <img href="{% static 'src/QRC/2023/IMG_6486.JPG' %}" class='the-images' loading='lazy'>
                </li>
            </ul>
        </section>
    </body>

</html>
