<!DOCTYPE html>

<html>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 


    <!-- landing page -->

    <head>
        <section class="landing">
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

            <!-- Loading Jquery -->
            <script src="{% static 'jquery-3.7.1.js' %}"></script>
            <script src="{% static 'script.js' %}"></script>

            <h1>I am MAMMVI</h1>
            <h2>welcome to my photography journal</h2>
            <h4>~ Please rotate your phone for the best viewing experience ~</h4>

            <img src="{% static 'ScrollDown.svg' %}"></img>
        </section>
    </head>

    <!--
        [1] Section title using <h3>
        [2] date taken, or range of dates
        [3] use p tag to write paragraph about the photos
    -->

    <body>

        <section class="27_01_23">
            <h3>Qatar Racing Club</h3>
            <h5>23 January 2023</h5>
            <p>
            Photos from Qatar Racing Club
            </p>
            <div class="images-to-click">
                <ul>
                    <li>
                        <img src="{% static '/src/A380/1.JPG' %}" class="the-images" loading="lazy">
                    </li>

                    <li>
                        <img src="{% static '/src/A380/2.JPG' %}" class="the-images" loading="lazy">
                    </li>
                </ul>
            </div>
        </section>

        <div class="image-viewer">
            <img class="full-image">
        </div>
    </body>
</html>
